@page "/prueba"
@* Permite la navegación *@
@inject NavigationManager NavigationManager;
@* Injecta JS *@
@inject IJSRuntime JSRuntime


<PageTitle>Prueba</PageTitle>
<button class="btn btn-dark" @onclick="@(()=> NavigationManager.NavigateTo("/weather"))">Home</button>
<h2>Componentes para Blazor</h2>
<p>Librerias de código abierto</p>
<a href="https://github.com/Blazored" target="_blank">Blazored / Código abierto</a><br>
<a href="https://blazor.radzen.com/" target="_blank">Radzen / Código abierto</a><br>
<a href="https://mudblazor.com/" target="_blank">MudBlazor / Código abierto</a><br>
<a href="https://www.syncfusion.com/blazor-components" target="_blank">Syncfusion / De paga</a><br>
<a href="https://www.telerik.com/blazor-ui" target="_blank">Telerik / De paga</a>

<p>Para agregar componentes de Blazored, debemos correr el siguienbte comando: dotnet add package Blazored.Toast</p>
<p>Ir al Program.cs</p>
<p>Ir a Imports.razor</p>
<p>Agregar el componente al Menunav</p>

<h2>Páginas para prácticar la programación</h2>
<a href="https://codesignal.com/" target="_blank">CodeSignal</a><br>
<a href="https://exercism.org/" target="_blank">Excercism</a><br>
<a href="https://www.codewars.com/" target="_blank">CodeWars</a><br>
<a href="https://leetcode.com/" target="_blank">LeetCode</a>
