@page "/prueba"
@* Permite la navegación *@
@inject NavigationManager NavigationManager;
@* Injecta JS *@
@inject IJSRuntime JSRuntime


<PageTitle>Prueba</PageTitle>
<button class="btn btn-dark" @onclick="@(()=> NavigationManager.NavigateTo("/weather"))">Home</button>
<h2>Componentes para Blazor</h2>
<p>Librerias de código abierto</p>
<a href="https://github.com/Blazored" target="_blank">Blazored / Código abierto</a>
<a href="https://blazor.radzen.com/" target="_blank">Radzen / Código abierto</a>
<a href="https://mudblazor.com/" target="_blank">MudBlazor / Código abierto</a>
<a href="https://www.syncfusion.com/blazor-components" target="_blank">Syncfusion / De paga</a>
<a href="https://www.telerik.com/blazor-ui" target="_blank">Telerik / De paga</a>
